{
    servers {
                protocols h1 h2 h3
            }
}

localhost {
    encode zstd gzip

    reverse_proxy unix//tmp/fasthttp.sock {
                                              header_up Host {host}
                                              header_up X-Real-IP {remote}
                                              header_up X-Forwarded-For {remote}
                                              header_up X-Forwarded-Proto {scheme}
                                          }

    log {
            output stdout
            format console
        }
}